In [27]:
import pandas as pd

In [28]:
dfA = pd.read_excel('data_plagiarism_X.xlsx')

In [29]:
dfA.head()

,Dosen-Kelas,problem,Mahasiswa 1,Mahasiswa 2,File 1,File 2,percentage
0,D3555-LT01,A,2502009255,2502026702,2502009255_267351_wrong-answer_0_A.cpp,2502026702_266687_wrong-answer_0_a1.cpp,(90%)
1,D3746-LB07,A,2501962920,2501968445,2501962920_264445_wrong-answer_0_lA.cpp,2501968445_266242_wrong-answer_0_om.cpp,(99%)
2,D3746-LB07,A,2501997016,2502007382,2501997016_268153_wrong-answer_0_-A.cpp,2502007382_270289_wrong-answer_0_zx.cpp,(89%)
3,D3555-LT01,A,2502009255,2502026702,2502009255_267351_wrong-answer_0_A.cpp,2502026702_266687_wrong-answer_0_a1.cpp,(90%)
4,D4456-LS01,A,2501992412,2501994916,2501992412_276294_correct_100_e2.cpp,2501994916_273111_correct_100_om.cpp,(98%)

In [30]:
import re
dfAT = dfA.apply(lambda x: x.str.split(" ").str[0] if x.name == 'File 1' or x.name == 'File 2' else x.str.split(" ").str[1] if x.name == 'Percent' else x)
dfAT.head()

,Dosen-Kelas,problem,Mahasiswa 1,Mahasiswa 2,File 1,File 2,percentage
0,D3555-LT01,A,2502009255,2502026702,2502009255_267351_wrong-answer_0_A.cpp,2502026702_266687_wrong-answer_0_a1.cpp,(90%)
1,D3746-LB07,A,2501962920,2501968445,2501962920_264445_wrong-answer_0_lA.cpp,2501968445_266242_wrong-answer_0_om.cpp,(99%)
2,D3746-LB07,A,2501997016,2502007382,2501997016_268153_wrong-answer_0_-A.cpp,2502007382_270289_wrong-answer_0_zx.cpp,(89%)
3,D3555-LT01,A,2502009255,2502026702,2502009255_267351_wrong-answer_0_A.cpp,2502026702_266687_wrong-answer_0_a1.cpp,(90%)
4,D4456-LS01,A,2501992412,2501994916,2501992412_276294_correct_100_e2.cpp,2501994916_273111_correct_100_om.cpp,(98%)

In [31]:
dfAT = dfAT.apply(lambda x: x.str[1:3] if x.name=='percentage' else x)
dfAT.head()

,Dosen-Kelas,problem,Mahasiswa 1,Mahasiswa 2,File 1,File 2,percentage
0,D3555-LT01,A,2502009255,2502026702,2502009255_267351_wrong-answer_0_A.cpp,2502026702_266687_wrong-answer_0_a1.cpp,90
1,D3746-LB07,A,2501962920,2501968445,2501962920_264445_wrong-answer_0_lA.cpp,2501968445_266242_wrong-answer_0_om.cpp,99
2,D3746-LB07,A,2501997016,2502007382,2501997016_268153_wrong-answer_0_-A.cpp,2502007382_270289_wrong-answer_0_zx.cpp,89
3,D3555-LT01,A,2502009255,2502026702,2502009255_267351_wrong-answer_0_A.cpp,2502026702_266687_wrong-answer_0_a1.cpp,90
4,D4456-LS01,A,2501992412,2501994916,2501992412_276294_correct_100_e2.cpp,2501994916_273111_correct_100_om.cpp,98

In [32]:
dfAT["percentage"] = dfAT["percentage"].astype(int)

In [33]:
terms = "UTS_2021_ODD"

In [34]:
dfAT.to_excel('data_plagiarism_all_'+terms+'.xlsx',index=False)

In [35]:
import os
from os import mkdir, path
import re, shutil
import string

In [37]:
dst = "D:\\Fikri\\projects\\PYTHON\\check answer\\data\\plagiarism_check_COMP6047_"+terms+"\\"
src = "D:\\Fikri\\projects\\PYTHON\\check answer\\data\\for_submit\\"

if not path.exists(dst):
    os.mkdir("D:/Fikri/projects/PYTHON/check answer/data/plagiarism_check_COMP6047_"+terms)
    
for i in range(len(dfAT)):    
    if not path.exists(dst+"\\"+dfAT.loc[i,"Dosen-Kelas"]):
        os.mkdir("D:/Fikri/projects/PYTHON/check answer/data/plagiarism_check_COMP6047_"+terms+"/"+dfAT.loc[i,"Dosen-Kelas"])
    if not path.exists(dst+"\\"+dfAT.loc[i,"Dosen-Kelas"]+"\\"+dfAT.loc[i,"problem"]):
        os.mkdir("D:/Fikri/projects/PYTHON/check answer/data/plagiarism_check_COMP6047_"+terms+"/"+dfAT.loc[i,"Dosen-Kelas"]+"/"+dfAT.loc[i,"problem"])

    shutil.copy2(src+dfAT.loc[i,"problem"]+"\\"+dfAT.loc[i,"Dosen-Kelas"]+"-UTS-JKT\\"+dfAT.loc[i,'File 1'], dst+dfAT.loc[i,"Dosen-Kelas"]+"\\"+dfAT.loc[i,"problem"]+"\\"+dfAT.loc[i,"File 1"])
    shutil.copy2(src+dfAT.loc[i,"problem"]+"\\"+dfAT.loc[i,"Dosen-Kelas"]+"-UTS-JKT\\"+dfAT.loc[i,'File 2'], dst+dfAT.loc[i,"Dosen-Kelas"]+"\\"+dfAT.loc[i,"problem"]+"\\"+dfAT.loc[i,"File 2"])